@import '../../variables.scss';
.repoLinks {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h2 {
        color: $dark;
        font-weight: 300;
        margin-bottom: 1rem;
    }
}