@import '../../variables.scss';
$image-width: 680px;

.productDetail {
    background: $grey-3;
    color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

    .container {
        width: $container-with;
        margin: 0 2rem;
    }

    .content {
        background: #fff;
        padding: 2rem;
        display: flex;

        .info {
            display: flex;

            .details {
                padding-left: 1rem;
                width: 100%;

                .condition {
                    font-size: .75rem;
                    margin-bottom: 1rem;
                }

                .title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin: 0 0 2rem;
                }

                .price {
                    font-size: 2.875rem;
                    font-weight: 400;
                    display: flex;
                    align-items: flex-start;
                    line-height: 1;
                    margin: 0 0 2rem;
                    color: $dark;
                    .decimals {
                        font-size: 1.5rem;
                        margin-top: 4px;
                    }
                }

                .button {
                    background: $button-primary;
                    color: #fff;
                    border-radius: 6px;
                    width: 100%;
                    padding: 12px;
                    font-size: 1rem;
                    border: none;
                    transition: all .2s ease;

                    &:hover {
                        background: $button-primary-hover;
                        cursor: pointer;
                    }
                }
            }
        }

        .description {
            width: $image-width;

            .image {
                max-height: $image-width;
                height: auto;
                width: $image-width;
                object-fit: contain;
            }

            .title {
                margin-bottom: 2rem;
                font-size: 1.75rem;
                color: $dark;
            }

            .text {
                font-size: 1rem;
                color: $grey-2;
                white-space: pre-line;
                font-weight: 300;
            }
        }
    }
}